body 
{ 
 background: url("./60P9094.jpg") center; 
} 

html
body{
	margin= 0;
}
 
 .header
 {
 display: block;
 margin: 0 auto;
 }
 
 .header ul
 {
 list-style: none;
 margin: 0;
 padding-left: 0;
 background: #F4A460;
 height: 50px;
 }

.header a
{
text-decoration: none;
color: #000000;	
padding:0px 15px;
font-family: Verdana;
font-size: 12pt;
line-height: 50px;
display: block;
}

.header li
{
float:left;
}

.header li:hover
{
background:#D2691E;
transition: .3s ease-in-out;
}
.container 
{ 
margin: auto; 
text-align: center; 
 
} 
.container2 
{ 
margin: auto; 
text-align: center; 
 
} 
 
.button 
{ 
position: relative; 
left: 50%; 
transform: translate(-50%, 0); 
color: white; 
text-decoration: none; 
padding: 20px; 
border-radius: 100px; 
background: red; 
cursor: pointer; 
}

.target {

	cursor: pointer;
	transition: .2s ease-in-out;

}